body {
    margin: 0;
    background-color: #000;
    color: #863ab3;
    font-family: 'Press Start 2P', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  
  h1, p, a {
    margin: 1rem 0;
    text-align: center;
  }

  h2
    {
        color: #FFFFFF;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
  
  a {
    color: #00FF00;
    text-decoration: none;
  }
  
  a:hover {
    color: #FFD700;
    text-decoration: underline;
  }
  
  .pixel-art {
    image-rendering: pixelated;
    max-width: 100px;
    margin: 2rem 0;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 0.5rem;
  }
  
  img.pixel-icon {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    filter: brightness(1.8) sepia(1) hue-rotate(75deg) saturate(500%) contrast(2);
    transition: filter 0.2s ease-in-out;
    color: #00FF00;
  }
  
  img.pixel-icon:hover {
    filter: brightness(2.5) sepia(1) hue-rotate(90deg) saturate(500%) contrast(2);
  }
  
  .blog-posts {
    max-width: 800px;
    width: 100%;
    margin-top: 2rem;
  }
  
  .cursor {
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% { opacity: 0; }
  }

  .social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .social-item {
    text-align: center;
    font-size: 0.6rem;
    color: #00FF00;
  }
  
  .site-footer {
    text-align: center;
    margin-top: 3rem;
    padding: 1rem;
    font-size: 0.6rem;
    color: #863ab3;
  }
  
  